* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-image: url("https://www.rpnation.com/media/parchment-paper-div-test.33588/full")
}

.flex {
  display: flex;
}


/* #####################
########## App #########
##################### */

.app {
  flex-direction: column;
  text-align: center;
}


/* #####################
######### Header #######
##################### */

header {
  height: 180px;
  padding: 20px;
  background-color: #6d0101;
}

.header {
  align-items: center;
  justify-content: space-between;
  margin: 0 10vw;
}

.header h1 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  color: #f4f4f4;
}

.header img {
  width: 7vw;
}


/* #####################
########## Main ########
##################### */

.main {
  align-items: center;
  justify-content: center;
  margin: 0 6vw;
}


/* #####################
######## Wizards #######
##################### */

.wizard-block {
  flex: 1;
  flex-wrap: wrap;
  margin: 3vw 0;
}

.wizard-thumbs {
/* had to change width and height to px to fix chrome zilla discrepancies */
  width: 5vw;
  min-width: 2vw;
  max-height: 8vw;
  padding: 1px;
  margin: .5vw;
  border: 3px solid #021a40;
  border-radius: 100%;
}

.glowing-border {
  border: 3px solid greenyellow;
}


/* #####################
######## Message #######
##################### */

.message-block {
  height: 30vw;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  margin: 1vw;
}

.message-block h2 {
  max-width: 16vw;
}

#greeting {
  opacity: 0;
  font-size: 2rem;
  animation: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#prompt {
  opacity: 0;
  font-size: 2rem;
  animation: fadeIn;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn{
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

#accioButton {
  width: 10vw;
  height: 3vw;
  min-height: 3vw;
  margin: 1vw;
  font-size: 1em;
  background-color: darkgrey;
}

#accioButton:hover {
  color: #f4f4f4;
  background-color: gray;
}


/* #####################
######### Wand #########
##################### */

.wand-block {
  height: 22vw;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-image: url("http://images5.fanpop.com/image/photos/29600000/Ollivander-1-garrick-ollivander-29687847-676-442.jpg");
}

.wand-block h2 {
  max-width: 18vw;
  color: #6d0101;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
  padding: 0 20px;
}

.wand-message-background {
  border: solid 1px black;
  background-color: rgba(255, 255, 255, 0.6);
}


/* #####################
######### Brochure #####
##################### */

.brochure {
  font-size: 2em;
  background-color: gray;
}

.brochure p {
  margin-top: 0;
  padding-top: 1em;
  font-size: 1em;
}

.brochure ol {
  margin-bottom: 0;
  padding-bottom: 1em;
}

.hidden {
  display: none;
}

#brochureButton {
  padding: 1px;
  background-color: gray;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom: black 1px solid;
}


/* #####################
######### Footer #######
##################### */

.footer {
  height: 110px;
  justify-content: center;
  color: #f4f4f4;
  background-color: #6d0101;
}

.react-logo {
  height: 30px;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer-elements {
  align-items: center;
  margin-top: 20px;
}